<div class='report'>

  <h1>What sort of number is shown?:</h1>
  reportThreeRevenue
  <div class=i></div>
  </div>

 
@section Scripts {
<script type="text/javascript" src="~/js/reportThree.js"></script>
}