@using Northwind.Models
@model IEnumerable<Product>


<table class="table w-auto table-bordered table-hover">
    <thead>
        <tr>
        <th scope="col-auto">Name</th>
        <th scope="col-auto" align="right">Price</th>
        <th scope="col-auto" align="right">Units in Stock</th>
        </tr>
    </thead>
    <tbody>
      @foreach (Product p in Model){
        <tr>
            <th scope="row">@p.ProductName</th>
            <td align="right">&#36;@p.UnitPrice</td>
            <td align="right">@p.UnitsInStock</td>
        </tr>
        }
    