@using Northwind.Models
@model IEnumerable<Product>

@*<div style="background-color:#6495ED; color:white; padding-top:10px; padding-bottom:10px"><h4>Category Listing</h4></div>*@
@* <div class="bg-primary m-1 p-1 text-white"><h4>Category Listing</h4></div> *@
<table class="table w-auto table-bordered table-hover">
    <thead>
        <tr>
        <th scope="col-auto">Name</th>
        <th scope="col-auto" align="right">Price</th>
        <th scope="col-auto" align="right">Units in Stock</th>
        </tr>
    </thead>
    <tbody>
      @foreach (Product p in Model){
        <tr>
            <th scope="row">@p.ProductName</th>
            <td align="right">&#36;@p.UnitPrice</td>
            <td align="right">@p.UnitsInStock</td>
        </tr>
        }
    